*.pyc
.vscode
output
data
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
checkpoints
__pycache__/
*.ipynb
*.sh
*.out
*.ply
# *.png
*tmp*

exp_scripts
configs/example
configs/exp
configs/exp_dev
configs/exp_dd4d
configs/exp_more
configs/exp_freevs
configs/experiments_waymo
render_shift_test.py