__pycache__/
*.so
build/
*.egg-info/
.vscode

build
data
output
eval_output
model

build
dataset
exp
nuplan-devkit
nvdiffrast

*.idea
*output*
*raw_data*
*.out

*.ply
# *.png
*.jpg
*.gif
*.zip

ckpt/
wandb/

stp3*

move_files.py
gui_traj